@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background:#186AC9;
    max-width: auto;
}
#head {
    display: flex;
    align-items: center;
    height: 90px;
}
.username {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}
.img_atlas {
    height: 35px;
    text-align: center;
    align-items: center;
    margin-left: 25px;
}
#head-menu {
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    align-items: center;
}
#check {
    display: none;
}
/* アコーディオンメニュー */
/*アコーディオンメニューでやることメモ
ブロックにする
ブロックを非表示にする
チェックされた時、要素を表示するように書く
transitionの値を書く*/

.global{
    width: 70px;
    font-size: 0px; /* ラベルと開く部分を分離する時は数値を入れる */
}
.global label{
    font-size: 16px; /* ラベルの文字サイズ */
    font-weight: bold;
    text-align: center;
    background-color: transparent; /* ラベルの背景色 */
    position: relative;
    display: block;
    cursor: pointer;
    color: #fff;
    width: 35px;
    margin:0 10px 0 20px ; /* ボックス全体の位置調整 */
}
.global label:after{
    color: #fff;
    content:"v"; /* ラベルのアイコン（クリック前） */
    font-weight: 350;
    top: 50%;
    right: 15px;
  }
.global input:checked ~ label::after {
    content:"^"; /* ラベルをクリックした後のアイコン */
    font-weight: 350;
}
.global ul {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s; /* 開閉スピードの設定 */
    font-size: 15px;
}
.global input:checked ~ ul{
    height: auto;
    border-radius: 0px;
    background: #F3F4F5; /* 開いた部分の背景色 */
    opacity: 1;
    width: 20%;
    right: 0px;
    position: fixed;
    margin-top: 37px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    display: inline-block;
    overflow: visible;
}
.global li {
    height: 55px;
    padding-top: 35px;
    border: solid 1px #00297e;
}
.global input:checked ~ label {
    background-color: transparent; /* クリック後のラベルの背景色 */
}
.global nav-menu{
    font-size: 25px; /* 開いた部分の文字サイズ */
    width: 0px;
    font-style: none;
}
.global nav-menu {
    font-style: none;
    transition-delay: 1s;
}
/* メニュー */
.prof-a {
   background-color: #00297e;
}
.prof-w {
    color: #fff;
}
.home-a {
    color: #000;
}
.logout-a {
    color: #000;
}
/* ログインユーザーアイコン */
.user-img {
    max-width: 50px;
    max-height: 50px;
}


/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;

}
.btn {
    background-color: #0756cf;
    color: #ffffff;
    width: 135px;
    height: 35px;
    text-decoration: none;
}
/* 投稿フォーム */
.post-area {
    height: 100px;
    width: 100%;
    display: flex;
    padding-top: 34px;
    padding-bottom: 25px;
    border-bottom: solid 7px #E0E0E0;
}
.user-icon-area {
    flex-basis: 15%;
    text-align: right;
    padding-right: 10px;
}
.user-icon {
    height: 45px;
}
.post-content-area {
    flex-basis: 60%;
    padding: 0 18px 18px 18px;
}
.post-content-area :focus {
    outline: none;
}
.post-content {
    border: none;  /* 枠線 */
    background-color: transparent;  /* 背景色 */
    width: 100%;             /* 横幅 */
    height: 100%;        /* 高さ */
    resize: none;
}
textarea::placeholder {
    color: #D6D6D6;
    font-size: 18px;
}
.post-btn-area {
    flex-basis: 25%;
}
.post-btn {
    height: 45px;
    padding-top: 50px;
}